.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: var(--white);
  height: 630px;
  background-image: url("./banner.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.div1 h1{
  font-weight: 500;
  font-size: 36px;
}
.div1 p {
  width: 550px;
}
.banner {
  width: 600px;
  height: 330px;
}
