:root {
  --darkGray: #262626;
  --blue: #2271d1;
  --white: #ffffff;
  --frontend: #6bd1ff;
  --backend: #00c86f;
  --mobile: #ffba05;
}

body {
  width: 100%;
  height: 100vh;

  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
